.story{
    min-height: 80dvh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    .story_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        padding-bottom: 20px;
    }
    h2{
        text-align: center;
        font-family: 'Single Day', sans-serif;
        color: cornflowerblue;
        font-size: xx-large;
    }

    p{
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid black;
        width: 70%;
    }
    .screen1, .screen2, .screen3{
        width: 80%;
    }
}